# Requirements needed for running the test suite.
astroid==1.6.1
coverage==4.4.2
flake8-bugbear==17.12.0; python_version>'3.4'
flake8-comprehensions==1.4.1
flake8-import-order==0.16
flake8-logging-format==0.3.0
flake8-mutable==1.2.0
flake8==3.5.0
psycopg2==2.7.3.2
pycodestyle<2.4.0  # for compatibility with flake8
pylint==1.8.2
pytest==3.5.1
pytest-mock==1.9.0
pytest-pgsql==1.0.1
# https://github.com/pytest-dev/pytest/issues/5903
attrs==19.1 
